name: Build Debug APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Make gradlew executable
        run: |
          cd Client-Side--Android-RAT
          chmod +x gradlew

      - name: Build APK
        run: |
          cd Client-Side--Android-RAT 
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: |
            Client-Side--Android-RAT/app/build/outputs/apk/debug/*.apk